<form class="form-wrapper" [formGroup]="trackFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" maxlength="200" formControlName="trackName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <input matInput type="text" maxlength="100" formControlName="artist" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Album</mat-label>
      <input matInput type="text" maxlength="500" formControlName="album" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <input matInput type="number" maxlength="4" formControlName="year" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Genre</mat-label>
      <input matInput type="text" maxlength="50" formControlName="genre" />
    </mat-form-field>

    <button mat-raised-button class="submit-button" color="primary" [disabled]="trackFormGroup.invalid" (click)="submit()">
      save
    </button>
</form>
