<div class="user-container">
  <button class="user-button" mat-button [mat-menu-trigger-for]="userMenu">
    <a id="user-badge" class="user-badge">{{userInitial}}</a>
    <h3>{{username}}</h3>
    <mat-menu class="user-menu" #userMenu="matMenu" xPosition="before">
      <button class="user-menu-item" routerLink="/stats" mat-menu-item>User Statistics</button>
      <mat-divider></mat-divider>
      <button class="user-menu-item logout" (click)="onLogOut()" mat-menu-item>Sign Out</button>
    </mat-menu>
  </button>
</div>
